
@import "tailwindcss";
@import "tw-animate-css";
@import './globals.css';

* {
  box-sizing: border-box;
}

@theme{
  
  --shadow-dark: 4px 4px 0px 0px var(--color-shadow);
  --shadow-dark-active: 2px 2px 0px 0px var(--color-shadow);
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

button:not(:disabled){
  cursor: pointer;
}

@utility eyebrow{
  @apply text-xs uppercase tracking-wider font-mono font-semibold;
}